html {
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
  overflow-x: hidden;
}

body {
  background-color: #121212;
  color: #E0E0E0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Lucida Console", "Courier New", monospace;
}

#header {
  position: sticky;
  top: 0;
}

#navbar {
  background-color: #1E1E2E;
  display: flex;
  justify-content: flex-end;
}

#navbar ul{
  display: flex;
  list-style-type: none;
}

#navbar a{
  text-decoration: none;
  color: #8A2BE2;
  padding: 1em 0.5em;
  transition: all 0.3s ease;
}

#navbar a:hover{
  transition: all 0.3s ease;
  background-color: #9B5DE5;
  color: #E0E0E0;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 43rem;
  align-items: center;
  margin-top: -2em;
}

#welcome-section h1, h2{
  margin: 0.2em;
}

#welcome-section h1{
  font-size: 4rem;
}

#welcome-section h2{
  font-size: 2rem;
  color: #9B5DE5;
}

#projects-title {
  font-size: 3rem;
  text-align: center;
  margin: 3rem;
}

#projects {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0 15px 15px;
  margin-bottom: 15px;
  gap: 24px;

}

.project-image{
  height: 17rem;
  margin-bottom: -0.2rem;
}

.project-tile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
  width: 17rem;
  height: 19rem;
  background-color: #1E1E2E;
  padding: 0;
  margin: 0;
}

.project-tile a {
  font-size: 1.2rem;
  text-decoration: none;
}

.project-tile p {
  margin: 0.2rem;
  text-align: center;
  color: #8A2BE2;
  font-size: 90%;
}

.project-tile span {
  color: #1E1E2E;
  transition: color 0.3s ease;
}

.project-tile:hover .project-hover {
  color: #8A2BE2;
}

#rnc p {
  font-size: 1rem;
}

#tnv p {
  font-size: 0.9rem;
}

#rcsa p {
  font-size: 0.9rem;
}

#contacts {
  background-color: #2a0d46;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 21rem;
}

#contacts h2 {
  font-size: 3rem;
}

#links {
  display: flex;
  gap: 0.5rem;
}

#links img {
  width: 1.5rem;
  height: 1.5rem;
  margin-bottom: 0.3rem;
  margin-left: 1rem;
}

#links a {
  text-decoration: none;
  color: #E0E0E0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  transition: transform 0.3s ease;
  transform: translateY(0px);
}

#links a:hover {
  transition: transform 0.3s ease;
  transform: translateY(7px);
}

#links p {
  font-size: 1.5rem;
}

.contacts-color img {
  filter: brightness(0) saturate(100%) invert(98%) sepia(1%) saturate(1402%) hue-rotate(243deg) brightness(113%) contrast(76%);
}

@media only screen and (max-width: 600px) {
  #projects {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
  }

  #welcome-section {
    height: 36rem;
  }

  #welcome-section h1, h2{
    margin: 0.1em;
  }

  #welcome-section h1{
    font-size: 2.8rem;
  }

  #welcome-section h2{
    font-size: 1.5rem;
    color: #9B5DE5;
  }

  #projects-title {
    font-size: 2.5rem;
    text-align: center;
    margin: 1rem;
  }

  #contacts h2 {
  font-size: 1.9rem;
}
}